*{
    padding: 0;
     margin: 0;
     list-style: none;
     text-decoration: none;

}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(154, 137, 154);
}

.container:after{
    clear: both;
    content: "";
    display: table;

}

.square{
  border: 1px solid black;
  float: left;
  font-size: 40px;
  height: 100px;
  padding: 0px;
  text-align: center;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
}

.container h1{
    margin-top: 20px;

    
}

